body {
    background-color: black;
    font-family: 'Staatliches', cursive;

}


#topArtist {
    color: white;
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 40px;
}

#deezer {
    color: #2EFE2E;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 23px;
    margin-bottom: 25px;
    padding: 10px;
}

.navbar {
    border-top: 4px solid rgb(167, 168, 169);
    overflow: hidden;
}

.nav-link:hover {
    background-color: rgb(167, 168, 169);
    border-radius: 50%;
    box-shadow:
        1px 1px black,
        2px 2px black,
        3px 3px black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#parent-btn {
    text-align: center;
    padding: 20px;
}

.dropdown {
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px;
}


.w-75{
margin:0 auto;
}
.mainHeader {

    /* background-color: black; */
    padding: 30px;
 }
 #heading {
    text-align: center;
    color: white;
    font-size: 63px;
    font-family: 'Monoton', cursive;
 }
 #subhead {
    text-align: center;
    color: #B40431;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
 }

.carouselHeading {
    font-size: 37px;
    color: #585858;
}

.carouselSub {
    font-size: 30px;
    color: #585858;
}
.webText {
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    color: #B40431;
    font-size: 28px;
    /* border-radius: 50%; */
   
}

.webContent {
    text-align: center;
}

.container {
    padding: 40px;
}

.card {
    background-color: rgb(167, 168, 169);
    margin-top: 20px;
    background-color: rgb(167, 168, 169);
}

a {
    color: white;
}
.card-body{
    background-color: white;
}