.dropdown {
    display: inline-block;

}

body {
    background-color: black;
}

.mainHeader {
    background-color: black;
    padding: 50px;
}

#heading {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
}

#subhead {
    font-family: 'Staatliches', cursive;
    font-size: 38px;
    color: white;
    text-align: center;
}